body{
  background-color: #f9f9fc;
}

.button {
    background-color: #6743fa; 
    border-radius: 29px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
  }
   .header {
  margin-left: -2px;
  color: #ff7838;
  font-size: 61px;
  font-variant: small-caps;
  margin-top: -140px;
}

h5 {
  background: -webkit-linear-gradient(#976147, #f75003);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .button:hover {background-color: #6743fa}
  
  .button:active {
    background-color: #6743fa;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
          
  .topnav {
overflow: hidden;

}
.btnstyle{
padding-left: 7rem;
padding-top: 34px;
}


.topnav {
overflow: hidden;
background-color: #f9f9fc;
}

.topnav a {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #6743fa;
color: white;
}

.topnav a.active {
background-color: #6743fa;
color: white;
}

.topnav-right {
float: right;
}

header a{
text-decoration: none;
}

.tablediv{
float: center;
padding: 8px;
margin:5px;
width:70%; 
margin-left:15%; 
margin-right:15%;
overflow-x:auto;

}

table{

font-family:'Trebuchet MS',sans-serif;
font-weight:bold;
padding:5px;
margin:1px;
 width: 100%;  
border:1px solid white;
border-collapse: collapse;
background-color: white;
}

th{
padding: 10px 10px;
text-align: left;
font-weight: 500;
font-size: 20px;
color: #6743fa;
text-transform: uppercase;
background-color: white;
}

td{
padding: 8px;
text-align: left;
vertical-align:middle;
font-weight: bold;
font-size: 18px;
color: #100F11;
background-color: white;
}

form{
  background-color: white;
}

@media screen and (max-width: 800px){
  
body{
background-size:cover;
background-position: right;

}
  div.tablediv{
      width:100%; 
      margin-left:0%; 
      margin-right:0%;
      padding:0px;
      margin:0px;
      }
   table{
       padding:0px;
       margin:0px;
   } 
} 
@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}

}

@media screen and (max-width: 400px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}
}